#content_2{
	position: absolute;
	margin-left: 388px;
	margin-top: 215px;
}
.col-md-1{
	margin-left:88px;
}
.fa{
	color: white;
}
.word{
	color: white;
	font-size: 25px;
	position: absolute;
	margin-left: -61px;
	margin-top: 87px;
}