<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>区块交易记录</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css"></link>
		<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="/css/blockinfo.css">
		<script type="text/javascript" src="/js/bootstrap.min.js" ></script>
	</head>
	<body>
		<div class="container-fluid">
			<div id="tytle">
				<h1 style="color: white;">Identity Recognition System</h1>
			</div>
			<form action="/searchBlockInfo" method="get"  style="color: white;font-family: '微软雅黑';font-size:18px ;">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-3"><p class="col_1">用户地址</p><input type="text" name="eventAddress" class="form-control keyword"/></div>
					<div class="col-md-3"><p class="col_1">事件/操作</p><input type="text" name="eventName" class="form-control keyword"/></div>
				</div>
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-3"><p class="col_2">块号</p><input type="text" name="blocknum" class="form-control keyword"/></div>
					<div class="col-md-3"><p class="col_2">交易凭证</p><input type="text" name="transferhash" class="form-control keyword"/></div>
				</div>
				<button type="submit" class="btn btn-primary" style="width: 102px; position: absolute;margin-left: 1172px;margin-top: -80px;">搜索</button>
				<button type="button" onClick="javascript :history.back(-1);" class="btn btn-primary" style="width: 102px; position: absolute;margin-left: 1172px;margin-top: -30px;">返回</button>
			</form>
			<table class="table">
         		<thead>
         			<tr>
     					<th>用户地址</th>
     					<th>事件/操作</th>
     					<th>块号</th>
     					<th>交易凭证</th>
         			</tr>
         		</thead>
         		<tbody>
         			<tr th:each="item:${session.blockInfo}">
         				<td th:text="${item.eventAddress}"></td>
         				<td th:text="${{item.eventName}}"></td>
         				<td th:text="${{item.blocknum}}"></td>
         				<td th:text="${{item.transferhash}}"></td>
         			</tr>
         		
         		</tbody>
			</table>
		</div>
	</body>
</html>

