<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>区块查询</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css"></link>
		<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="/css/blockinfo.css">
		<script type="text/javascript" src="/js/bootstrap.min.js" ></script>
	</head>
	<body>
		<div class="container-fluid">
			<div id="tytle">
				<h1 style="color: white;">Identity Recognition System</h1>
			</div>
			<form action="#" method="get"  style="color: white;font-family: '微软雅黑';font-size:18px ;">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-3"><p class="col_1">用户地址</p><input type="text" name="address" class="form-control keyword"/></div>
					<div class="col-md-3"><p class="col_1">事件/操作</p><input type="text" name="operate" class="form-control keyword"/></div>
				</div>
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-3"><p class="col_2">区块号</p><input type="text" name="blockNumber" class="form-control keyword"/></div>
					<div class="col-md-3"><p class="col_2">交易凭证</p><input type="text" name="hashcode" class="form-control keyword"/></div>
				</div>
				<button type="submit" class="btn btn-primary" style="width: 102px; position: absolute;margin-left: 1172px;margin-top: -30px;">搜索</button>
			</form>
			<table class="table">
         		<thead>
         			<tr>
     					<th>用户地址</th>
     					<th>事件/操作</th>
     					<th>区块号</th>
     					<th>交易凭证</th>
         			</tr>
         		</thead>
         		<tbody>
         			<tr>
         				<td>1211111111111</td>
         				<td>122222222222221</td>
         				<td>2121212</td>
         				<td>11212121</td>
         			</tr>
         			<tr>
         				<td>12121212</td>
         				<td>12121212</td>
         				<td>12121212</td>
         				<td>12121212</td>
         			</tr>
         			<tr>
         				<td>12121212</td>
         				<td>12121212</td>
         				<td>12121212</td>
         				<td>12121212</td>
         			</tr>
         			<tr>
         				<td>12121212</td>
         				<td>12121212</td>
         				<td>12121212</td>
         				<td>12121212</td>
         			</tr>
         		</tbody>
			</table>
		</div>
	</body>
</html>

