<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>changePageToLogin</title>
<script type="text/javascript" th:src="@{/js/jquery.min.js}" ></script>
<script>
			function countDown(){
				//获取初始时间
				var time = document.getElementById("Time");
				
				//获取到id为time标签中的数字时间
				if(time.innerHTML == 0){
					//等于0时清除计时，并跳转该指定页面
					window.location.href="/to_login";
				}else{
					time.innerHTML = time.innerHTML-1;
				}
			}
			//1000毫秒调用一次
			window.setInterval("countDown()",1000);
		</script>
      
</head>
<body>
        <font  th:text="${registerState}"></font>
        <font  th:text="${changeState}" ></font><span id="Time" >2</span>s后将跳转至登录页
</body>
</html>