<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>logError</title>
<script>
			function countDown(){
				//获取初始时间
				var time = document.getElementById("Time");
				
				//获取到id为time标签中的数字时间
				if(time.innerHTML == 0){
					//等于0时清除计时，并跳转该指定页面
					window.location.href="/index";
				}else{
					time.innerHTML = time.innerHTML-1;
				}
			}
			//1000毫秒调用一次
			window.setInterval("countDown()",1000);
		</script>
      
</head>
<body>
        <font >登录失败,<span id="Time" >5</span>s后将跳转至主页</font>

</body>
</html>